---
layout: layout
title: page-conference
ttl: "STRAIGHTS AND ROUNDS with Richard Bailey and Bruno Maag"
descr: "STRAIGHTS AND ROUNDS with Richard Bailey and Bruno Maag"
---

<div class="section" id="workshops">
	<div class="wrapper">
		<h2>Workshops</h2>
		<h3>June 5th and 6th, 2018</h3>
		<div id="workshops-abstract">
            {% include workshop/workshop-maag.html %}
		</div>
	</div>
</div>
{% if site.tickets %}
  {% include section-tickets.html %}
{% endif %}
{% include section-sponsors.html %}
{% include section-newsletter.html %}
{% include section-contact.html %}
