<div class="session" id="workshop-daltonmaag">
    <div class="speaker">
		<div class="image"><img src="/img/2019/ws/bruno-richard.png"></div>
		<div class="info">
			<div class="name">Bruno Maag</div>
			<div class="twitter"><a href="http://www.twitter.com/bruno_maag/">@bruno_maag</a></div>
			<div class="bio">
				<p>
                    Bruno began his career with an apprenticeship as a typesetter at Tages-Anzeiger, Switzerlands largest daily newspaper. He then studied Typography and Visual Communcations at Basel School of Design under Wolfgang Weingart and Andre Gürtler amongst others.  After graduating Bruno emigrated to England to work for Monotype where he established their ‘custom type department’, creating fonts for the New Yorker magazine, and others. <br/>
					{% if page.short %}
							<p><a href="/ws-fontchoosing.html">Read more</a></p>
					{% else  %}
                </p>

                <p>
                Recent highlights are fonts for Rio2016, multilingual type for Nokia and HP, and a lovely serif font for luxury hotel brand Faena. He is currently investigating type and emotion, with a special interest in the physiological aspects.

					{% endif %}

				</p>
			</div>

      <div class="name">Richard Bailey</div>
      <div class="twitter"></div>
      <div class="bio">
        <p>
          Richard’s background is in corporate services, but since joining Dalton Maag he’s diversified into developing the design service offering and improving the client experience.<br/>
          {% if page.short %}
              <p><a href="/ws-fontchoosing.html">Read more</a></p>
          {% else  %}
                </p>

                <p>
                  Recent highlights include Ducati, USA Today, and Amazon.
                  Richard holds the position of Operations Director, and is based in Dalton Maag’s London office.

          {% endif %}

        </p>
      </div>


			<div class="meta first">
				<div class="duration">Duration: Two days</div>
				<div class="where">
					<b>Where:</b><br>
					The workshop will take place at:<br> Biblioteca Comunale di Faenza (1st Floor)<br/>Via Manfredi n. 14<br/>Faenza (RA)
					(<a class="gmap" href="https://www.google.it/maps/place/Via+Manfredi,+14,+48018+Faenza+RA">View on Google Maps</a>)<br><br>
					<b>When:</b><br>
					Wednesday 5th,Thursday 6th of June.<br>
					The workshop will start at 10.00<br>
					Please, be on time.<br><br>

                    {% if page.short %}
                    {% else  %}

                    <b>What:</b><br>
                    <p>Personal laptop with Adobe Photoshop and Illustrator (download <a href="http://www.adobe.com/downloads.html">a 30-day trial</a> if you don’t own it), and FontLab Studio (<a href="http://old.fontlab.com/font-editor/fontlab-studio/download-fontlab-studio/">Demo version</a>)<br/>Notebook/paper, pen, pencil, pencil sharpener, eraser, ruler (etc).
                    </p>
                    <div class="sponsor-ws">
                        <b>Sponsored by</b><br/>
                        <a href="http://www.daltonmaag.com"><img src="/img/2019/s/daltonmaag.svg" alt="Behind Dalton Maag is an international team of 40 type designers, font developers, creative directors, software engineers and support staff, spanning 20 nationalities and speaking 12 languages."/></a>
                    </div>
                    {% endif %}
                </div>

				{% if site.tickets %}
				<div class="buy">
					<a href="#tickets">Get your ticket</a>
				</div>
				{% endif %}

			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title"><a href="/ws-fontchoosing.html">5th-6th June - STRAIGHTS AND ROUNDS with Richard Bailey and Bruno Maag</a></div>
        <div><img src="/img/2019/ws/maag/maag-1.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="STRAIGHTS AND ROUNDS" data-original-title="" title="STRAIGHTS AND ROUNDS with Richard Bailey and Bruno Maag"></div>

		<div class="abstract">

            <p class="intro">Two day workshop on a professional approach to designing a typeface.</p>
            <p>In the workshop Richard Bailey and Bruno Maag will explain an effective and efficient approach to designing a typeface (family).
              The participants will learn how to define the requirements, aesthetically, technically, linguistically,
              and how to setup the design process.
            </p>

			{% if page.short %}
				<p><a href="/ws-fontchoosing.html">Read more</a></p>
			{% else  %}

            <div><img src="/img/2019/ws/maag/maag-2.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="STRAIGHTS AND ROUNDS with Richard Bailey and Bruno Maag" data-original-title="" title="STRAIGHTS AND ROUNDS with Richard Bailey and Bruno Maag"></div>
		        <p>Although there is a theoretical component to help participants with decision making,
                  the workshop focuses heavily on drawing, with the goal for each attendee to have an established
                  design concept that can be expanded into a working font.
            </p>

			{% endif %}

		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://{{site.year}}.kerning.it/ws-fontchoosing.html" addthis:title="5th-6th June - STRAIGHTS AND ROUNDS with Richard Bailey and Bruno Maag at {{ site.conference-name }} Conference 2019" addthis:description="5th-6th June - STRAIGHTS AND ROUNDS with Richard Bailey and Bruno Maag">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>
