<div class="session" id="workshop-daycalligraphy">
    <div class="speaker">
		<div class="image">
      <img src="img/2019/ws/lila.png">
    </div>
		<div class="info">
			<div class="name">Lila Symons</div>
			<div class="twitter"><a href="http://www.twitter.com/daycalligraphy/">@daycalligraphy</a></div>
			<div class="bio">
				<p>Lila Symons is a multidisciplinary typeface designer and lettering artist who specializes in the design and engineering of fonts for consumer goods and lifestyle brands. She works as a font developer for Hallmark Cards in Kansas City, Missouri where she creates proprietary typefaces based on handwriting, calligraphy, and lettering.</p>
          {% if page.short %}
              <p><a href="/ws-variablefonts.html">Read more</a></p>
          {% else %}
<p>Prior to joining Hallmark Cards in 2013, she spent 7 years working in New York City and New Jersey as a graphic designer and lettering artist. Past clients include Princeton University, L’Oréal, Tattly, Coach, Condé Nast Digital, Starwood Hotels & Resorts Worldwide, and Martha Stewart Living Omnimedia.

She has a BFA in Graphic Design from Savannah College of Art and Design, and is a graduate of Type@Cooper Extended in New York City..</p>
  {% endif %}
			</div>

			<div class="name">Rainer Erich Scheichelbauer</div>
			<div class="twitter"><a href="http://www.twitter.com/mekkablue/">@mekkablue</a></div>
			<div class="bio">
				<p>
          A trained photographer, Rainer Erich (‘Eric’) Scheichelbauer (b. 1977 in Vienna, Austria)
          holds both a philosophy and a Dutch studies degree.
          He creates typefaces, works as a digital punchcutter for other type designers,
          and gives type design workshops on a regular basis.</p>
          {% if page.short %}
							<p><a href="/ws-variablefonts.html">Read more</a></p>
          {% else %}
          <p>
            Since he has joined the Glyphs team in 2012, he has been writing articles,
          tutorials, and Python scripts, as well as the blog and the handbook.
          He lives and works in Vienna, where he runs his type studio Schriftlabor.
          </p>
          {% endif %}
			</div>
			<div class="meta first">
				<div class="duration">Duration: Two days</div>
				<div class="where">
          <b>Where:</b><br>
          The workshop will take place at:<br>
          Biblioteca Comunale di Faenza (1st Floor)<br>
          Via Manfredi n. 14<br>
          Faenza (RA)<br>
          (<a class="gmap" href="https://www.google.it/maps/place/Via+Manfredi,+14,+48018+Faenza+RA">View on Google Maps</a>)<br><br>

                    <b>What:</b><br>
                    <p>Bring your PC/MacBook with Glyphs 2 preinstalled. And a recent browser: If you do not run macOS High Sierra on your MacBook, download the latest Chrome or Firefox, please.
                    </p><br>

					<b>When:</b><br>
					Wednesday 5th to Thursday 6th of June.<br>
					The workshop will start at 10.00<br>
					Please, be on time.<br><br>

                </div>

                {% if site.tickets %}
                <div class="buy">
                    <a href="#tickets">Get your ticket</a>
                </div>
                {% endif %}
			</div>
		</div>
	</div>
	<div class="topic">
        <div class="title"><a href="/ws-variablefonts.html">Design a Script Typeface with Lila Symons</a></div>
		<div class="abstract">
            <div><a href="/ws-variablefonts.html"><img src="/img/2019/ws/lila/lila-ws-1.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="Design a Script Typeface with Lila Symons" data-original-title="" title="Design a Script Typeface with Lila Symons"></a></div>
			<p class="intro">Two-day workshop to learn to design a script typeface.<br>

Start a font project with renowned lettering artist and type designer Lila Symons. You will learn how to:<br>
<ul>
  <li>look at your lettering and sketches and see if they will work as a font,</li>
  <li>turn your sketches into clean, working outlines,</li>
  <li>learn how to use vector autotracing the right way to create fonts with texture,</li>
  <li>learn what letters to draw in glyphs so you can connect and space all your letters well,</li>
  <li>apply optical corrections,</li>
  <li>develop your drawings into a working font,</li>
  <li>create basic alternates for your letters,</li>
  <li>create OpenType features for making sure the right letter variants appear in the right positions,</li>
  <li>test and improve your design,</li>
  <li>… and many more details of the type design process.</li>
</ul>

Glyphs team member Rainer Erich Scheichelbauer will assist Lila.

Attendees receive a time-limited Glyphs license for free, and can purchase a full, unlimited personal license of the software at a discount.


            {% if page.short %}
				<p><a href="/ws-variablefonts.html">Read more</a></p>
			{% else  %}

             <div><a href="/ws-variablefonts.html"><img src="/img/2019/ws/lila/lila-ws-2.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="Design a Script Typeface with Lila Symons" data-original-title="" title="Design a Script Typeface with Lila Symons"></a></div>

            <p>

              No prior knowledge of type design necessary, but knowledge of typography fundamentals will be useful. Experience with vector graphics, using Adobe applications (Illustrator, InDesign, Photoshop), and hand lettering/calligraphy is useful.<br>

              Bring your MacBook with Glyphs 2 preinstalled; optionally install Image Vectorizer.<br>

              Feel free to bring your favorite pens, inks and paper to draw and write letters with. iPads are welcome if that is what you use to draw and letter with.<br>


            Be prepared for some fun. :-)</p>

            {% endif %}

		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://2019.kerning.it/ws-variablefonts.html" addthis:title="Design a Script Typeface with Lila Symons" addthis:description="Don't miss them!">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>
