<div class="session" id="workshop-stamperia">
    <div class="speaker">
		<div class="image">
			<img src="/img/2019/ws/damiano.png"><br>
		</div>
		<div class="info">
			<div class="name">La Vecchia Stamperia</div>
			<div class="bio">
				<p>Damiano Bandini loves letterpress, and movable types.
                    This is why he still runs an <a href="http://www.lavecchiastamperia.com/">old letterpress workshop</a> in downtown Faenza, carrying on passion and knowledge handed down from father to son.</p>
        <p>La Vecchia Stamperia is a historic workshop (Bottega Storica dell’Emilia Romagna): everything started in 1920, so this workshop has been printing movable types on paper for more than 90 years – and counting.</p>
        <p>He has got one of the largest collection in use, of very rare metal block-prints and unique artistic wood ones.</p>
			</div>

			<div class="meta first">
				<div class="duration">Duration: One day</div>
				<div class="where">
					<b>Where:</b><br>
					The workshop will take place at:<br><br>

					La Vecchia Stamperia<br>
					Via Giulio Castellani 25<br>
					Faenza (RA)<br>
					(<a class="gmap" href="https://www.google.com/maps/place/La+Vecchia+Stamperia+di+Damiano+Bandini/@44.284726,11.87984,16z/">View on Google Maps</a>)<br><br>
					<b>When:</b><br>
					Wednesday 5th of June.<br>
					The workshop will start at 10.00 am<br>
					Please, be on time.
				</div>

				{% if site.tickets %}
				<div class="buy">
					<a href="#tickets">Get your ticket</a>
				</div>
				{% endif %}

                {% if page.short %}
                {% else  %}


                <!--div class="sponsor-ws">
                    <b>Sponsored by</b><br/>
                    <a href="http://www.museodellacarta.com/default.asp"><img src="/img/s-mfc.png" title="Museo della Carta e della filigrana"></a><br/>
                </div-->
                {% endif %}
			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title"><a href="/ws-letterpress.html">5th June - Playing with a (Heidelberg) Windmill a Damiano Bandini's letterpress workshop</a></div>
		<div class="abstract">

			<div><a href="/ws-letterpress.html"><img src="/img/2019/ws/letterpress/letterpress.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="5th June - Playing with a (Heidelberg) Windmill a Damiano Bandini's letterpress workshop" data-original-title="" title="5th June - Playing with a (Heidelberg) Windmill a Damiano Bandini's letterpress workshop"></a></div>
			<p class="intro">Did you buy a Heidelberg Windmill — or “Stella”, as we lovely call it in Italy — and all you need is love… sorry, experience to become a professional letterpress printer? Join us in Faenza and Damiano Bandini will share a lot of secrets with you!</p>

            <p>You’re a proud owner of a Heidelberg Stella, and you’re going to become a professional printer, we know! Or you'll try, at least… </p>

            <p>Will you mainly print texts composed with a lead type or will you also use a lot of images? And what about cliché and xylography? You have to prepare your Stella in different ways, starting with the right packing. Set the preparation the wrong way, and you’ll have more than some troubles. </p>

			{% if page.short %}
				<p><a href="/ws-letterpress.html">Read more</a></p>
			{% else  %}



        <p>You also have to know how to ink up the press — and before that, how to prepare your colors! — How to position and lock the form and how to eliminate spring, how to a lot of things, you're right. And what about make-ready? Damiano to the rescue! And after this workshop, letterpress printing won’t have secrets for you anymore.</p>

        <div><img src="/img/2019/ws/letterpress/letterpress-2.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="5th June - Playing with a (Heidelberg) Windmill a Damiano Bandini's letterpress workshop" data-original-title="" title="5th June - Playing with a (Heidelberg) Windmill a Damiano Bandini's letterpress workshop."></div>

        <p>And passion is what you’ll find in this workshop too, where La Vecchia Stamperia with the {{ site.conference-name }} Staff will join their forces to guide you through a waterfall of characters.</p>


			 {% endif %}

		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://2019.kerning.it/ws-letterpress.html" addthis:title="5th June - Playing with a (Heidelberg) Windmill a Damiano Bandini's letterpress workshop" addthis:description="Don't miss them!">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>
