<div class="session" id="workshop-sumner">
    <div class="speaker">
		<div class="image"><img src="/img/2016/ws/sumner.png"></div>
		<div class="info">
			<div class="name">Sumner Stone</div>
			<div class="twitter"><a href="http://www.twitter.com/sthoths/">@sthoths</a></div>
			<div class="bio">
				<p>
                    Sumner Stone is the principal and founder of Stone Type Foundry Inc. in Rumsey, California. He has designed numerous typeface families and superfamilies. Mr. Stone was the art director and one of the designers of the prize winning ITC Bodoni. Other projects have included the design of initials for the Arion Press Bible and the revival of Frederic Goudy’s Scripps College Old Style type. He is the author of books and articles about type design and typography, and has given many lectures and workshops on these subjects. <br/>
					{% if page.short %}
							<p><a href="/ws-sumnerstone.html">Read more</a></p>
					{% else  %}
                </p>
            
                <p>
                From 1984 to 1989 Mr. Stone was Director of Typography for Adobe Systems, Inc., Mountain View, California where he conceived and implemented Adobe’s typographic program including the Adobe Originals. He has served on the boards The Edward Johnston Foundation, Letterform Archive, and the Association Typographique Internationale (ATypI). He was the editor of Type: A Journal of the ATypI. Recently he has taught typeface design through Type@Cooper and will be teaching the Extended Program for Type@Cooper West through Letterform Archive in San Francisco in 2016.
                    				
					{% endif %}

				</p>
			</div>
			<div class="meta first">
				<div class="duration">Duration: Two days</div>
				<div class="where">
					<b>Where:</b><br>
					The workshop will take place at:<br> Biblioteca Comunale di Faenza (1st Floor)<br/>Via Manfredi n. 14<br/>Faenza (RA)
					(<a class="gmap" href="https://www.google.it/maps/place/Via+Manfredi,+14,+48018+Faenza+RA">View on Google Maps</a>)<br><br>
					<b>When:</b><br>
					Wednesday 7th,Thursday 8th of June.<br>
					The workshop will start at 10.00<br>
					Please, be on time.<br><br>       

                    {% if page.short %}
                    {% else  %}

                    <b>What:</b><br>
                    <p>Personal laptop with Adobe Photoshop and Illustrator (download <a href="http://www.adobe.com/downloads.html">a 30-day trial</a> if you don’t own it), and FontLab Studio (<a href="http://old.fontlab.com/font-editor/fontlab-studio/download-fontlab-studio/">Demo version</a>)<br/>Notebook/paper, pen, pencil, pencil sharpener, eraser, ruler (etc).
                    </p>
                    <!--div class="sponsor-ws">
                        <b>Sponsored by</b><br/>
                    </div-->
                    {% endif %}
                </div>
                
				{% if site.tickets %}
				<div class="buy">
					<a href="#tickets">Get your ticket</a>
				</div>
				{% endif %}

			</div>
		</div>
	</div>
	<div class="topic">
		<div class="title"><a href="/ws-sumnerstone.html">LetterBody | LetterSoul with Sumner Stone</a></div>
        <div><img src="/img/2017/ws/stone/stone-1.png" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="LetterBody | LetterSoul with Sumner Stone" data-original-title="" title="LetterBody | LetterSoul with Sumner Stone"></div>
        
		<div class="abstract">

            <p class="intro">In this workshop we will explore modes of creative thinking about letterforms and modes of creating strategies for making them.</p>
            <p>These will be an exploration that combines drawing/writing with an examination of conceptual approaches to making typographic systems.</p>

			{% if page.short %}
				<p><a href="/ws-sumnerstone.html">Read more</a></p>
			{% else  %}
 
				<p>Enduring letterforms come from a synergistic process which involves thinking and making – then re-thinking and re-making.
                Ideal mental models are inevitably tested in the world of the senses.</p>
            
            <div><img src="/img/2017/ws/stone/stone-2.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="LetterBody | LetterSoul with Sumner Stone" data-original-title="" title="LetterBody | LetterSoul with Sumner Stone"></div>
        
            
                <p>This confrontation generally causes us to think once more and turn our eyes, hands, minds & hearts back to the craft. It is this iterative process that can move the discipline, and the forms, forward.</p>
            
                <p>We invoke the spirits of Filocalus, Felice Feliciano, Poggio Bracciolini, Luca Pacioli, Louis Simmoneaux, Philippe Grandjean & Giambiattista Bodoni to help guide us in this journey.</p>
                
			{% endif %}

		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://2017.kerning.it/ws-sumnerstone.html" addthis:title="LetterBody | LetterSoul with Sumner Stone at {{ site.conference-name }} Conference 2017" addthis:description="LetterBody | LetterSoul with Sumner Stone!">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>
