<div class="session" id="workshop-monica">
    <div class="speaker">
		<div class="image"><img src="img/2019/ws/monica.png"></div>
		<div class="info">
			<div class="name">Monica Dengo</div>
			<div class="twitter"><a href="http://www.twitter.com/MonicaDengo/">@MonicaDengo</a></div>
			<div class="bio">
				<p>Monica Dengo was born in Italy in 1966. In 1993 she moved to San Francisco (California) and in 2001 she acquired dual citizenship, Italian and American. Currently she lives in Arezzo, Italy.</p>
        <p>Monica began the study of graphic design in Venice, Italy and England. In London she studied calligraphy and bookbinding at the Roehampton Institute (1991-1992) with Gaynor Goffe and Ewan Clayton. In 1993 she moved to San Francisco (California) and spent three years studying independently full time manuscript production techniques, illumination, design and history of lettering with Thomas Ingmire. She also studied figure drawing with Eleanor Dickinson. The San Franscisco Art Instiute Library, the Correr Museum and Marciana libraries in Venice (Italy) were also a part in her independent studies. In 2012 she was artist-in-residence for two month at the Emily Harvey Foundation in Venice.</p>
        <p>She has collaborated with Fondazione Musei Civici di Venezia and FAI - Fondo Ambiente Italiano.<br>
          She is teaching calligraphy at Centro Internazionale Arti Calligrafiche - www.articalligrafiche.it and; in the past she also taught also at Academy of Art University - San Francisco, California - www.academyart.edu, Libera Università di Bolzano, ISIA in Faenza, Ca’ Foscari University in Venice.</p>
			</div>
			<div class="meta first">
				<div class="duration">Duration: Two days</div>
				<div class="where">
          <b>Where:</b><br>
          The workshop will take place at:<br>
          Complesso dei Salesiani<br>
          Via San Giovanni Bosco n. 1<br>
          Faenza (RA)<br>
          (<a class="gmap" href="https://www.google.com/maps/place/Via+san+Giovanni+Bosco,+1/@44.2832168,11.8849821,16z">View on Google Maps</a>)<br><br>

          {% if page.short %}
          {% else %}

                    <b>What:</b><br>
                    <p>Materials (provided by {{ site.conference-name }}-staff):<br>
                      - Paper: a kind of wrapping white paper<br>
                      - Chinese ink<br>
                      - Ink made from Terra di Kassel<br>
                      - Alluminum and wooden sticks for self-made pens<br>
                      - Scissors<br>
                      - Paper tape<br>
                      - A selection of instruments brought by the teacher for experimentation<br>
                      - Glass containers<br>
                      - Paper or cotton towels<br>
                      - Optional materials to bring to class<br>
                      - Canson sketchbook pad A3<br>
                      - Soft pencil 8B<br>
                      - All your usual calligraphic instruments (if you have them)<br>
                      - Feel free to bring your favorite pens, inks and paper to draw and write letters with.
                    </p><br>
          {% endif %}

					<b>When:</b><br>
					Wednesday 5th and Thursday 6th of June.<br>
					The workshop will start at 10.00<br>
					Please, be on time.<br><br>

                </div>

                {% if site.tickets %}
                <div class="buy">
                    <a href="#tickets">Get your ticket</a>
                </div>
                {% endif %}
			</div>
		</div>
	</div>
	<div class="topic">
        <div class="title"><a href="/ws-calligraphy.html">NEW ALPHABETICAL FORMS Out of the typographic logic with Monica Dengo</a></div>
		<div class="abstract">
              <div>
                <a href="/ws-calligraphy.html">
                  <img src="/img/2019/ws/dengo/ws-dengo-2.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="NEW ALPHABETICAL FORMS Out of the typographic logic with Monica Dengo." data-original-title="" title="NEW ALPHABETICAL FORMS Out of the typographic logic with Monica Dengo.">
                </a>
              </div>
			        <p class="intro">In this course we will develop written forms from real and imagined objects and from the sounds of voices and languages. We will also do a visual study of Oriental calligraphy. In the end all our studies will be standardized and reduced to recognizable alphabetical forms. All the works and the final alphabet will be assembled in a book.</p>
              <p>Printing and technology related to the design of typefaces have developed in the West and then in the globalized world. Typography has an ideological and symbolic role whose vast use has reduced, or sometimes completely erased, other registration modes of symbols and ideas, including writings from other cultures and our own handwriting. In general we can say that reducing writing systems to typographic writing systems is a form of colonization.
              The Western calligraphic tradition is directly and logically linked to typography. </p>
                <p>A respectful observation of other writing systems reveals other evolutions, other relationships between form and content, writer and writing, body gesture and trait.</p>
                <p>This is not the place to go into such a vast topic, but we can do exercises and games to help us guess the limits of typography.</p>

            {% if page.short %}
				<p><a href="/ws-calligraphy.html">Read more</a></p>
			{% else  %}

             <div><a href="/ws-calligraphy.html"><img src="/img/2019/ws/dengo/ws-dengo-3.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="NEW ALPHABETICAL FORMS Out of the typographic logic with Monica Dengo." data-original-title="" title="NEW ALPHABETICAL FORMS Out of the typographic logic with Monica Dengo."></a></div>

              <p>"A writing tradition scores, identifies and distinguishes a culture as much as the spoken languages, with which it overlaps and mixes”.<br>
              Tullio de Mauro (Scritture. Le forme della comunicazione, a cura di Giovanni Lussu, Antonio Perri, Daniele Turchi, Roma 1998)</p>
              <p>
                Bibliography:<br>
                - Antropologia della Scrittura - Giorgio Raimondo Cardona<br>
                - Silence -  John Cage <br>
                - Brush Mind - Kazuaki Tanahashi<br>
                - Variazioni sulla scrittura - Roland Barthes<br>
                - Il pieno e il vuoto - François Cheng<br>
                - Out of Character - Asian Art Museum, San Francisco
              </p>

            {% endif %}

		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://2019.kerning.it/ws-calligraphy.html" addthis:title="NEW ALPHABETICAL FORMS Out of the typographic logic with Monica Dengo at {{ site.conference-name }} Conference 2019" addthis:description="Don't miss them!">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>
