<div class="session" id="workshop-ewan">
    <div class="speaker">
		<div class="image"><img src="img/2018/ws/ewan.png"></div>
		<div class="info">
			<div class="name">Ewan Clayton</div>
			<div class="twitter"><a href="http://www.twitter.com/ewanclayton1/">@ewanclayton1</a></div>
			<div class="bio">
				<p>Ewan Clayton is a calligrapher and Professor in Design at the University of Sunderland, he is also a visiting calligraphy tutor on the type programmes at the University of Reading and Cooper Union in New York City. He is a core staff member at The Royal Drawing School in London. Lettering is in his blood. He grew up near the village of Ditchling in the UK, home to Edward Johnston and three generations of his family worked there in a guild of crafts people founded by Eric Gill.</p>
        <p>Ewan’s interest in the written word ranges widely. He worked for 12 years as a consultant to Xerox PARC, researching the future of writing in the workplace.</p>
        <p>His book on the history of writing with the Roman alphabet The Golden Thread was published in 2013 and has been translated into a number of languages, including Italian.</p>
        <p>His real love is articulating the role the entire body plays in writing whatever the medium; he is a qualified somatic coach and body-worker.</p>
			</div>
			<div class="meta first">
				<div class="duration">Duration: Two days</div>
				<div class="where">
          <b>Where:</b><br>
          The workshop will take place at:<br>
          Complesso dei Salesiani<br>
          Via San Giovanni Bosco n. 1<br>
          Faenza (RA)<br>
          (<a class="gmap" href="https://www.google.com/maps/place/Via+san+Giovanni+Bosco,+1/@44.2832168,11.8849821,16z">View on Google Maps</a>)<br><br>

          {% if page.short %}
          {% else %}

                    <b>What:</b><br>
                    <p>Materials (provided by {{ site.conference-name }}-staff):<br>
                      Layout Bond paper (A3) or A3 photocopy paper.<br>
                      Black ink (not water-proof), if you have several inks bring them.<br>
                      Water container.<br>
                      Your usual calligraphy tools: automatic pens are useful for this class, bring any other unusual writing tools that you have, <br>
                      Cloth for wiping the pen.<br>
                      Some gouache colours, a brush for the gouache.<br>
                    </p><br>
          {% endif %}

					<b>When:</b><br>
					Wednesday 6th and Thursday 7th of June.<br>
					The workshop will start at 10.00<br>
					Please, be on time.<br><br>

                </div>

                {% if site.tickets %}
                <div class="buy">
                    <a href="#tickets">Get your ticket</a>
                </div>
                {% endif %}
			</div>
		</div>
	</div>
	<div class="topic">
        <div class="title"><a href="/ws-calligraphy.html">DEVELOPING NEW STYLES OF CALLIGRAPHIC MOVEMENT with Ewan Clayton</a></div>
		<div class="abstract">
              <div>
                <a href="/ws-calligraphy.html">
                  <img src="/img/2018/ws/ewan-ws-1.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="DEVELOPING NEW STYLES OF CALLIGRAPHIC MOVEMENT with Ewan Clayton." data-original-title="" title="DEVELOPING NEW STYLES OF CALLIGRAPHIC MOVEMENT with Ewan Clayton.">
                </a>
              </div>
			        <p class="intro">Fluent styles of movement characterize good letterforms, they extend our creativity and encourage the emergence of personal expression.</p>
              <p>In this workshop, suitable for designers of all levels, we will experiment, in a structured way (following in the footsteps of Rudolf Laban), with different movement styles.</p>

            {% if page.short %}
				<p><a href="/ws-calligraphy.html">Read more</a></p>
			{% else  %}

             <div><a href="/ws-calligraphy.html"><img src="/img/2018/ws/ewan-ws-2.jpg" class="sponsor-tooltip workshop-image" data-toggle="tooltip" data-placement="top" data-title="DEVELOPING NEW STYLES OF CALLIGRAPHIC MOVEMENT with Ewan Clayton." data-original-title="" title="DEVELOPING NEW STYLES OF CALLIGRAPHIC MOVEMENT with Ewan Clayton."></a></div>

             <p>This workshop can work for the relative beginner in calligraphy and for the very experienced. Just as singers exercise their voices to expand their range of notes and tones so we will exercise our pens on the paper. Letters and marks that push, float, glide, flutter. Working initially with abstract pattern and lines we apply these movements to different styles of letterforms, overcoming limited and habitual patterns of movement in the process. You will emerge from this class with a new confidence in your own ability to write and to create personal styles of calligraphy - and with the work to prove it.</p>
             <p>A "Drawing Kit" will be provided. The kit will include a Parallel stroke pen, ink refill, drawing sheets, pencils, thin marker, glue.</p>

            {% endif %}

		</div>
		<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"  addthis:url="http://2018.kerning.it/ws-calligraphy.html" addthis:title="DEVELOPING NEW STYLES OF CALLIGRAPHIC MOVEMENT with Ewan Clayton at {{ site.conference-name }} Conference 2018" addthis:description="Don't miss them!">
<a class="addthis_button_preferred_1"></a>
<a class="addthis_button_preferred_2"></a>
<a class="addthis_button_preferred_3"></a>
<a class="addthis_button_preferred_4"></a>
<a class="addthis_button_compact"></a>
<a class="addthis_counter addthis_bubble_style"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-514b81e067037be9"></script>
<!-- AddThis Button END -->
	</div>
</div>
