<div class="section" id="schedule">
		<div class="wrapper">
			<h2>Schedule</h2>
			<h3>October 11, 2024</h3>
			<div id="schedule-abstract">
				<div class="schedule-session">
					<div class="hour">9.00</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Registration</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session">
					<div class="hour">9.30</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Welcome</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="one">
					<div class="hour">9.50</div>
                     
						<div class="image"><img src="/img/2024/adriana-versino.jpg" alt="AV"><img src="/img/2024/francesco-fullone.jpg" alt="FF"></div>
						<div class="topic">
							<div class="title">Opening&nbsp;Remarks: Why Sustainability matters.</div>
							<div class="name">Adriana Versino, Francesco Fullone</div>
							Affrontare la sostenibilità richiede un approccio olistico, dove complessità e system thinking sono essenziali per comprendere le interconnessioni globali. 
							Attraverso strumenti come EN-Roads e Climate Leader, possiamo visualizzare scenari e prendere decisioni informate che tengano conto di variabili non lineari. 
							Apriremo BetterSoftware facendo un picoclo esperimento di gruppo, per meglio capire i temi che saranno trattati durante la giornata.
						</div>
					


				</div>
				<div class="schedule-session" id="two">
					<div class="hour">10.20</div>
                    <a href="speakers.html#MonicaDengo">
						<div class="image"><img src="/img/2024/antoniob.jpg" alt="ab"></div>
						<div class="topic">
							<div class="title">Sustainable Digital.</div>
							<div class="name">Antonio Baldassarra</div>
							The scenarios with European rules of the green deal and the new wawe related to Artificial Intelligence.
						</div>
					</a>

				</div>
				<div class="schedule-session" id="">
					<div class="hour">10.55</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Coffee&nbsp;Break</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="three">
					<div class="hour">11.25</div>
                    				<a href="speakers.html#laurameseguer">
						<div class="image"><img src="/img/2024/jarre-pietro.jpg" alt="jp"></div>
						<div class="topic">
							<div class="title">Le politiche di gestione responsabile del digitale: ambito d’azione, obiettivi</div>
              						<div class="name">Pietro Jarre</div>
									 Da un decennio circa in Europa Centrale diverse aziende hanno iniziato a riflettere e prendere iniziativa nei confronti dell’impatto delle tecnologie digitali: dalle modalità di acquisto dei device, alla raccolta responsabile dei dati e all’educazione digitali di ogni portatore di interesse. Le politiche in gioco (che vanno sotto il nome di Corporate Digital Responsibility, o CDR) complementano e affiancano quelle già più note di responsabilità sociale (CSR). A nostro avviso si può e si dovrebbe incorporarle entro i sistemi organizzativi esistenti e collaudati, per non perdere tempo di fronte all’accelerazione della evoluzione del digitale. 
						</div>
					</a>
				</div>


				<div class="schedule-session" id="six">
					<div class="hour">12.00</div>
                   			<a href="speakers.html#LiebeFonts">
						<div class="image"><img src="/img/2024/massimo-crubellati.jpg" alt="mc"><img src="/img/2024/riccardo-marchiani.jpg" alt="rm"></div>
						<div class="topic">
							<div class="title">Software Sustainability in a regulated landscape</div>
							<div class="name">Massimo Crubellati, Riccardo Marchiani</div>
							The Digital Sustainability journey in CSRD with one of the major Italian company: Autostrade



						</div>
					</a>
				</div>
				

				<div class="schedule-session" id="four">
					<div class="hour">12.35</div>
                    				<a href="speakers.html#Tipoteca">
						<div class="image"><img src="/img/2024/michel-murabito.jpg" alt="ib"></div>
						<div class="topic">
							<div class="title">Sostenibilità e Cloud Native: strategie e strumenti per un futuro green.</div>
							<div class="name">Michel Murabito</div>
							Pensiamo alla tecnologia come a un puzzle intricato: ogni pezzo contribuisce a creare un'immagine più grande. Oggi, la sostenibilità è il pezzo mancante che può trasformare il nostro approccio al Cloud Native in qualcosa di straordinario.

Immaginate un mondo in cui le nostre pratiche tecnologiche non solo migliorano l'efficienza, ma rispettano anche il pianeta. Come possiamo fare in modo che le nostre soluzioni cloud siano sostenibili? Esploreremo strategie innovative e strumenti essenziali come kube-green, che ottimizzano l'uso delle risorse energetiche in modo semplice ma efficiente, e faremo riferimento a risorse fondamentali come il CNCF TAG Env Sustainability Landscape e i Green Software Patterns.

Adottare un approccio sostenibile è sia un dovere etico che un'opportunità per migliorare l'efficienza, supportare l'ecosistema e ridurre i costi. La sostenibilità non è solo un obiettivo, ma un viaggio che migliora tutto ciò che facciamo.

Perché non si tratta solo di dove stiamo andando, ma di come ci arriviamo. Con le giuste scelte, il nostro viaggio può essere sostenibile, efficiente e rispettoso del pianeta.
						</div>
					</a>

				</div>
				
				<div class="schedule-session">
					<div class="hour">13.05</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Lunch</div>
					</div>
				</div>
				<div class="schedule-session" id="five">
					<div class="hour">14.35</div>
                    <a href="speakers.html#TypeTasting">
						<div class="image"><img src="/img/2024/giulia-di-bella.jpg" alt="gdb"><img src="/img/2024/noemi-pagliuca.jpg" alt="np"></div>
						<div class="topic">
							<div class="title">Smart Forestry: l'innovazione tecnologica al servizio della Natura</div>
              						<div class="name">Giulia Di Bella, Noemi Pagliuca</div>
							Il talk esplora come l'applicazione di tecnologie all'avanguardia, come l'intelligenza artificiale e le immagini satellitari, possa rivoluzionare la gestione delle foreste, rendendola più sostenibile e trasparente. Verranno presentate soluzioni innovative per il monitoraggio delle aree forestali, in grado di rilevare fenomeni di deforestazione e degrado, nonché di valutare la capacità degli alberi di assorbire e immagazzinare CO2. Inoltre, sarà discusso il ruolo di queste tecnologie nel supportare le aziende nel conformarsi alla EUDR - Normativa Europea Deforestation Free.
						</div>
					</a>
				</div>

<div class="schedule-session" id="six">
					<div class="hour">15.10</div>
                    				<a href="speakers.html#Tipoteca">
						<div class="image"><img src="/img/2024/ilias-bartolini.jpg" alt="ib"></div>
						<div class="topic">
							<div class="title">Misurare le Emissioni dei Servizi Digitali (e non solo).</div>
							<div class="name">Ilias Bartolini</div>
							Dove cominciare a stimare le emissioni di carbonio dei servizi digitali?  
E mi consigli di implementare le transazioni in Bitcoin?
Ma quanto mi consuma questo chatbot?! 

In questa sessione partiremo dalle basi di "carbon accounting" per dipanare tutti questi dubbi ed impareremo come vengono stimate le emissioni di carbonio di prodotti, servizi ed organizzazioni. 
Ci concentreremo poi in particolare sui "servizi digitali" analizando i vantaggi e le carenze dei modelli attualmente in uso e vedremo quali strumenti sono disponibili per aiutarvi. 
Infine le applicheremo alla stima delle emissioni di un sito web d'esempio.
						</div>
					</a>

				</div>
				
				<div class="schedule-session" id="">
					<div class="hour">15.45</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Coffee Break</div>
						<div class="name"></div>
					</div>
				</div>
				<div class="schedule-session" id="seven">
					<div class="hour">16.15</div>
					<a href="speakers.html#astridstavro">
							<div class="image"><img src="/img/2024/nicola-bonotto.jpg" alt="nb"></div>
							<div class="topic">
								<div class="title">Sustainable Web Design: princìpi e best practices.</div>
								<div class="name">Nicola Bonotto</div>
								Il modo in cui progettiamo e sviluppiamo i siti web ha un impatto significativo non solo sulle persone, ma anche sull'ambiente. Il Sustainable Web Design è un approccio al design e allo sviluppo dei servizi web che tiene conto dell'impatto ambientale e sociale dei prodotti digitali durante la loro fase di progettazione e di realizzazione.
						</div>
					</a>
				</div>
				<div class="schedule-session" id="eight">
					<div class="hour">16.50</div>
                    <a href="speakers.html#louisefili">
						<div class="image"><img src="/img/2024/luca-rosati.jpg" alt="lr"><img src="/img/2024/letizia-sechi.jpg" alt="ls"></div>
						<div class="topic">
							<div class="title">La sostenibile leggerezza del linguaggio. Accessibilità linguistica e sostenibilità.</div>
              						<div class="name">Luca Rosati, Letizia Sechi</div>
							Il linguaggio è l’architettura che ci permette di costruire le strutture di senso in cui ci muoviamo. La chiarezza del linguaggio è fondamentale perché le persone si sentano incluse, riescano a orientarsi e a portare a termine le azioni. Eppure, quando si parla di accessibilità e progettazione, la dimensione del linguaggio è spesso assente. Un linguaggio chiaro non solo facilita la comprensione, ma contribuisce anche alla sostenibilità sia per la persona sia per l’organizzazione. Per la persona, riduce gli errori e lo spreco di risorse non solo cognitive: una procedura di checkout poco chiara può comportare una consegna errata e l’attivazione di ulteriori passaggi; dal lato dell’organizzazione, i problemi in un touchpoint (checkout nell’e-commerce) si ripercuotono su altri touchpoint (servizio clienti, email ecc.). Analizzeremo scenari e casi di studio per dimostrare come un linguaggio chiaro aumenti anche la sostenibilità.
						</div>
					</a>
				</div>
				<div class="schedule-session" id="">
					<div class="hour">17.25</div>
					<div class="image">&nbsp;</div>
					<div class="topic">
						<div class="title light">Closing Remarks</div>
						<div class="name"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
