<div class="section" id="conduction">
		<div class="wrapper">
			<h2>Codice di Condotta</h2>
			<div id="conduction-longtext">
				<div class="col">
					<span class="intro"><b>{{ site.conference-name }}</b>  è una conferenza dedicata alla community e desideriamo che ogni partecipante viva un’esperienza di conferenza piacevole, inclusiva, rispettosa delle differenze e senza molestie, indipendentemente da sesso, orientamento sessuale, disabilità, aspetto fisico, corporatura, etnia o religione.
						</span>
				</div>
				<div class="col">
					<p>Ogni persona coinvolta come partecipante, speaker, sponsor, staff a questo e ogni altro evento GrUSP è invitata a conformarsi al seguente Codice di condotta che sarà in vigore durante tutto l’evento e all’interno di ogni spazio (fisico o virtuale).</p>

					<h3>In sintesi</h3>
					<p>Non sarà tollerato nessun tipo di molestia, in qualsiasi forma, nei confronti di altre persone durante l'evento.
					<br>Tutte le comunicazioni devono essere appropriate per un pubblico professionale che includa persone di diversi background. Linguaggio/immagini sessualizzate/sessiste non sono appropriate in nessuna occasione.
					<br>A chi violasse queste regole di comportamento, potrà essere chiesto di lasciare la conferenza senza rimborso, a sola discrezione del team organizzativo.
					<br>Fai attenzione alle parole che scegli. Ricorda che le battute sessiste, razziste e di altro tipo sono offensive per chi ti circonda. Imprecazioni e battute offensive non sono mai appropriate.
					<br>Grazie per aiutarci a rendere la conferenza un momento piacevole e accogliente per tutte le persone che partecipano.</p>

					<h3>Il nostro impegno e i nostri standard</h3>
					<p>Noi come membri e organizer ci impegniamo a rendere la partecipazione alla nostra community un’esperienza senza molestie per chiunque, indipendentemente da età, corporatura, disabilità visibile o invisibile, etnia, livello di esperienza, istruzione , stato socio-economico, nazionalità, aspetto personale, cultura, religione o genere, identità e orientamento sessuale.
					<br>Ci impegniamo ad agire e interagire in modi che contribuiscono a costruire una comunità aperta, accogliente, diversificata, inclusiva e sana.</p>
					<p><b>Esempi di comportamenti che contribuiscono a creare un ambiente positivo:</b><br>
						• Dimostrare empatia e gentilezza verso le altre persone;<br>
						• Rispettare opinioni, punti di vista ed esperienze differenti;<br>
						• Dare e accettare con educazione feedback costruttivi;<br>
						• Accettare la responsabilità e chiedere scusa a chi ha subito i nostri errori e imparare dall’esperienza;<br>
						• Concentrarsi su ciò che è meglio non solo per noi come individui, ma per l’intera comunità.<br></p>
					<p><b>Esempi di comportamenti che contribuiscono a creare un ambiente positivo:</b><br>
						• L’uso di linguaggio o immagini sessualizzate, e l’attenzione sessuale o avances di qualsiasi tipo;<br>
						• Trolling, commenti offensivi o dispregiativi e attacchi personali o politici;<br>
						• Molestie pubbliche o private;<br>
						• Pubblicare informazioni private altrui, come un indirizzo fisico o e-mail, senza il loro esplicito permesso;<br>
						• Altri comportamenti che potrebbero ragionevolmente essere considerati inappropriati in un ambiente professionale;<br>
						• Commenti verbali offensivi relativi a sesso, orientamento sessuale, disabilità, aspetto fisico, corporatura, etnia, religione, immagini sessuali in spazi pubblici, intimidazioni intenzionali, stalking, inseguimenti, molestie fotografiche o registrazioni, interruzione prolungata di discorsi o altri eventi, contatto fisico inappropriato e attenzioni sessuali indesiderate.<br>
					</p>
					<p><b>Responsabilità dell’applicazione</b><br>
					<p>Ogni membro del team GrUSP è responsabile di chiarire e far rispettare i nostri standard di comportamento accettabile ed è autorizzato a prendere azioni correttive appropriate ed eque in risposta a qualsiasi comportamento che viene ritenuto inappropriato, minaccioso, offensivo o dannoso.</p>
						Il team ha il diritto e la responsabilità di rimuovere, modificare o rifiutare commenti, problemi e altri contributi che non sono allineati a questo Codice di condotta e comunicheranno i motivi delle decisioni di moderazione quando appropriato.</p><br>
					<p>Per ulteriori dettagli sulle linee guida per l'applicazione e conseguenze relative alla violazione visita <a href="https://www.grusp.org/codice-di-condotta/" target=_blank>questa pagina</a>.</p>
					
				</div>
			</div>
		</div>
	</div>
