<div class="section" id="contact"><a id="contacts"></a>
		<div class="wrapper">
			<h2>Restiamo in contatto</h2>
			<div class="col">
				<h3>Social</h3>
				<ul class="social">
					<li><a href="http://www.x.com/{{ site.conference-x }}" class="twitter">@{{ site.conference-x }}</a></li>
					<li><a href="http://www.facebook.com/GrUSP" class="facebook">GrUSP</a></li>
					<li><a href="mailto:{{ site.conference-email }}" class="mail">{{ site.conference-email }}</a></li>
					<li><a href="/about.html" class="about">About us</a></li>
					<li><a href="/code-of-conduct.html" class="code-of-conduct">Code of conduct</a></li>
				</ul>
			</div>
			<div class="col">
				<h3>Sponsor</h3>
				<ul>
					<li><a href="about.html#giorgio"><b>Giorgio Fochesato</b></a><br><a href="mailto:sponsor@apropos.srl" class="">sponsor@apropos.srl</a></li>
				</ul>
			</div>
			<div class="col">
				<h3>Speaker</h3>
				<ul>
					<li><a href="about.html#francesco"><b>Francesco Fullone</b></a><br><a href="mailto:francesco@grusp.org" class="">francesco@grusp.org</a></li>
				</ul>

                		<h3>Location</h3>
				<ul>
                    			<li><a href="about.html#giovanna"><b>Giovanna Ferrari</b></a><br><a href="mailto:bettersoftware@grusp.org" class="">bettersoftware@grusp.org</a></li>
				</ul>
			</div>
			<div class="col">
                		<a href="https://www.grusp.org/" target="_blank"><img src="img/GrUSP_white_transp.png" width="200px"></a>
            		</div>
		</div>
	</div>
