<div class="section" id="venue">
	<div class="short">{{ site.conference-name }} coprirà i tre pilastri della sostenibilità:<br><b>Ambiente, Sociale e Governance</b>.<br>&nbsp<br></div>
	<div class="wrapper">
		<section id="what">
			<div class="abstract">
				<p class="col">
					<b>Sustainable Development Practices</b>: esploriamo le pratiche di sviluppo sostenibile nel settore del software.<br>&nbsp<br>
					<b>Environmental Impact of Software</b>: esaminiamo l'impatto ambientale del software, dalla fase di sviluppo all'utilizzo.
				</p>
				<p class="col">
					<b>Social Responsibility in Software Development</b>: approfondiamo il ruolo della responsabilità sociale nello sviluppo software.<br>&nbsp;<br>
					<b>Governance and Ethical Considerations in Software</b>: apriamo il dibattito sulle considerazioni etiche e di governance nel contesto del software.
				</p>
				<p class="col">
					<b>Emerging Trends in Green Software</b>: esploriamo le tendenze emergenti nel campo del Green Software.<br>&nbsp<br>
					<b>Parleremo di nuove tecnologie</b>, framework e approcci innovativi che stanno plasmando il futuro del software sostenibile.</p>
			</div>		
		</section>		  	
	</div>	
</div>
