<div class="section" id="venue">
		<div class="wrapper">
			<h2>La location</h2>
			<div id="venue-abstract">
				<div class="col">
					<img src="/img/venue.png">
				</div>

				<div class="col">
					<h3>BetterSoftware si terrà presso<br>
					<b>Toolbox Coworking Via Agostino da Montefeltro, 2, 10134 Torino TO</b><br>
					Torino</h3>

					<p>La location mette a disposizione una grande sala per il buffet del pranzo e per le pause caffè, oltre ad un piacevole giardino privato nel quale rilassarsi.<br>&nbsp;<br></p>
					<p>Gli sponsor avranno a disposizione un'ampia zona di ampio passaggio e visibilità, nella quale connettersi con tutte le persone partecipanti e dedicarsi al networking.</p>
				</div>
				<div class="col">
					<dl>
						<dt>15 min in taxi / 20 min in Metro o Bus</dt>
						<dd>dal centro città</dd>
										</dl>
				</div>
			</div>
			
		</div>
</div>

<div  class="section" id="venue">
	<iframe width="425" height="350" src="https://www.openstreetmap.org/export/embed.html?bbox=7.667502164840699%2C45.04932500432736%2C7.66994833946228%2C45.05085233356012&amp;layer=mapnik&amp;marker=45.05008867404189%2C7.668725252151489" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=45.050089&amp;mlon=7.668725#map=19/45.050089/7.668725">Visualizza mappa ingrandita</a></small>
</div>
