<div class="section" id="about-us">
		<div class="wrapper">
			<h2>Il team</h2>
			<h3>Le persone che rendono {{ site.conference-name }} una grandiosa conferenza!</h3>
			Siamo un team dinamico di persone appassionate, che fondono diverse competenze in ambito tecnologico, creativo e di community management. Questa combinazione unica di competenze ci permette di portare avanti la nostra missione con entusiasmo!
			<div id="about-us-crew">

				{% include about/team.html %}

			</div>
		</div>
	</div>
