<div class="section" id="venue">
		<div class="wrapper">
			<h2>La location</h2>
			<div id="venue-abstract">
				<div class="col">
					<img src="/img/venue.png">
				</div>

				<div class="col">
					<h3>BetterSoftware si terrà presso<br>
					<b>Hotel Savoia Regency</b><br>
					Via del Pilastro, 2 - Bologna</h3>

					<p>La location mette a disposizione una grande sala per il buffet del pranzo e per le pause caffè, oltre ad un piacevole giardino privato nel quale rilassarsi.<br>&nbsp;<br></p>
					<p>Gli sponsor avranno a disposizione un'ampia zona di ampio passaggio e visibilità, nella quale connettersi con tutte le persone partecipanti e dedicarsi al networking.</p>
				</div>
				<div class="col">
					<dl>
						<dt>15 min in taxi / 20 min in Bus</dt>
						<dd>dal centro città</dd>
						<dt>10 anni</dt>
						<dd>di conference GrUSP in questa location</dd>
					</dl>
				</div>
			</div>
			
		</div>
</div>

<div  class="section" id="venue">
	<iframe type="text/html" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2845.258545295926!2d11.38279581512847!3d44.509857404631944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477e2ca643db29ab%3A0x19c877e26a7b7526!2sHotel%20Savoia%20Regency!5e0!3m2!1sit!2sit!4v1638894573435!5m2!1sit!2sit" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen width="700px" height="300px"></iframe>
</div>
