<div class="section" id="location">
		<div class="wrapper">
			<h2>Come arrivare a Bologna</h2>
			<div id="location-abstract">
				<div class="col">
					<span class="intro">La conferenza si terrà a <b>Bologna</b>,<br>con la sua posizione strategica è una città facilmente raggiungibile da tutta Italia e anche dall'estero.</span>
				</div>
				<div class="col">
					<h3>Fatti sorprendere da quanto è facile arrivare a Bologna!</h3>
					<dl>
						<dt>In auto</dt>
						<dd>Se arrivi da Milano o Rimini segui la <b>Autostrada A14</b>.<br>Uscite consigliate Arcoveggio o Bologna San Lazzaro.</dd>
						<dt>In treno</dt>
						<dd>Bologna è comodamente servita dall'<b>alta velocità</b> ed è facilmente raggiungbile da Roma, Firenze, Milano, Verona e Rimini. Dalla stazione dei treni consigliamo di prendere un taxi per raggiungere l'Hotel Savoa Regency.</dd>
						<dt>In aereo</dt>
						<dd>L'aereoporto di Bologna è il <b>"G. Marconi" Airport (BLQ)</b>. Dista circa 30 minuti di taxi dall'Hotel Savoia Regency.</dd>
	
					</dl>
				</div>
			</div>
		</div>
</div>
