<script src="https://js.tito.io/v2" async></script>
<div class="section" id="tickets"><a id="tickets"></a>
	<div class="wrapper">
		<h2>Grab your ticket!</h2>
		<p>Abbiamo riservato alcuni <strong>biglietti scontati (39€) per studenti.</strong></p>
		<p>Se pensi di averne diritto, <a href="mailto:{{ site.conference-email }}?subject=I'm a student">scrivici una email</a> allegando il tuo tesserino studentesco e ti manderemo un codice sconto per accedere al biglietto.</p>
		<tito-widget
     		 event="{{ site.tickets-eb }}"
    	></tito-widget>
	</div>
</div>
<br style="clear: both;">
