<div class="section" id="stay">
		<div class="wrapper">
			<h2>Where to stay</h2>
			<div id="stay-abstract">

				<div class="col">
					<img src="/img/faenza.png">
				</div>
				<div class="col">
					<h3>Sleep in Faenza</h3>
					<p>The city offers a lot of <a href"http://www.booking.com/searchresults.en-gb.html?aid=340631;label=bologna-ViC59dxm7FYx4bhvu8%2AwCwS14900678625%3Apl%3Ata%3Ap1%3Ap2%3Aac%3Aap1t1%3Aneg;sid=6d2f802332bbfdc87ec44ccd0f19243f;dcid=1;city=-117144;redirected_from_city=1;src=city">Bed &amp; Breakfast</a> and we have a convention with <a href="http://www.hotel-vittoria.com/english/index.html">Hotel Vittoria</a> (5 minutes walk from the conference venue).</p>
					<p>If you want you can take advantage of the convention we have agreed with the following cosy and lovely accommodations in the countryside of Faenza:</p>

					<dl>
						<dt>AGRITURISMO CA' DE GATTI</dt>
						<dd>
							Website: <a href="http://www.cadegatti.it">www.cadegatti.it</a><br>
							Email: <a href="mailto:info@cadegatti.it">info@cadegatti.it</a><br>
							Tel: <a href="tel:+39.0546.642202">+39.0546.642202</a> / +39.339.2848391
						</dd>
						<dt>AGRITURISMO CAMPANACCI</dt>
						<dd>
							Website: <a href="http://www.campanacci.com">www.campanacci.com</a><br>
							Email: <a href="mailto:info@campanacci.com">info@campanacci.com</a><br>
							Tel: <a href="tel:+39.0546.642180">+39.0546.642180</a> / <a href="tel:+39.347.9356188">+39.347.9356188</a>
						</dd>
						<dt>AGRITURISMO CA' VINCENZONA</dt>
						<dd>
							Website: <a href="http://www.cavincenzona.it">www.cavincenzona.it</a><br>
							Email: <a href="mailto:info@cavincenzona.it">info@cavincenzona.it</a><br>
							Tel <a href="tel:+39.333.8314188">+39.333.8314188</a>
						</dd>
						<dt>AGRITURISMO LA SABBIONA</dt>
						<dd>
							Webite: <a href="http://www.lasabbiona.it">www.lasabbiona.it</a><br>
							Email: <a href="mailto:info@lasabbiona.it">info@lasabbiona.it</a><br>
							Tel: <a href="tel:+39.546.642142">+39.546.642142</a>
						</dd>
						<dt>B&amp;B LOCANDA DELLA FORTUNA</dt>
						<dd>
							Website: <a href="http://www.locandafortuna.it">www.locandafortuna.it</a><br>
							Email: <a href="mailto:info@locandafortuna.it">info@locandafortuna.it</a><br>
							Tel: <a href="tel:+39.0546.642318">+39.0546.642318</a> - <a href="tel:+39.335.5809987">+39.335.5809987</a>
						</dd>
					</dl>

					<h3>Special prices</h3>
					<p>With all these lodgings we have arranged the following prices and services:</p>

					<dl>
						<dt>Double room<sup>*</sup></dt>
						<dd>
							<b>One night</b>: 75€<br>
							<b>Two nights</b>: 130€<br>
							* or two single beds
						</dd>
						<dt>Triple room<sup>*</sup></dt>
						<dd>
							<b>One night</b>: 85€<br>
							<b>Two nights</b>: 160€<br>
							* or double with extra bed
						</dd>
					</dl>

					<p>All the prices <b>include breakfast</b>, the usage of the facilities of the lodging, and <b>one transportation back and forth to the conference venue per day</b>.</p>
					<p>The two-nights rate includes also an aperitif with typical wines and products of the territory, that will take place at the Tower of Oriolo, where guests can participate to a brief guided tour.</p>

					<p>For more informations, specific requests and bookings please contact directly the accommodations at the addresses above.</p>

				</div>
			</div>
		</div>
	</div>