<div class="section" id="venue">
		<div class="wrapper">
			<h2>La location</h2>
			<div id="venue-abstract">
				<div class="col">
					<img src="/img/venue.png">
				</div>

				<div class="col">
					<h3>BetterSoftware si terrà presso<br>
					<b>TbA.</b><br>
					Torino</h3>

					<p>La location mette a disposizione una grande sala per il buffet del pranzo e per le pause caffè, oltre ad un piacevole giardino privato nel quale rilassarsi.<br>&nbsp;<br></p>
					<p>Gli sponsor avranno a disposizione un'ampia zona di ampio passaggio e visibilità, nella quale connettersi con tutte le persone partecipanti e dedicarsi al networking.</p>
				</div>
				<div class="col">
					<dl>
						<dt>15 min in taxi / 20 min in Metro o Bus</dt>
						<dd>dal centro città</dd>
										</dl>
				</div>
			</div>
			
		</div>
</div>

<div  class="section" id="venue">
	<!--iframe type="text/html" src="" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen width="700px" height="300px"></iframe-->
</div>
