<div class="section" id="location">
		<div class="wrapper">
			<h2>Come arrivare a Torino</h2>
			<div id="location-abstract">
				<div class="col">
					<span class="intro">La conferenza si terrà a <b>Torino</b>,<br>con la sua posizione strategica è una città facilmente raggiungibile da tutta Italia e anche dall'estero.</span>
				</div>
				<div class="col">
					<h3>Fatti sorprendere da quanto è facile arrivare a Torino!</h3>
					<dl>
						<dt>In auto</dt>
						<dd>Se arrivi da Milano segui la <b>Autostrada A4</b>.<br>Da Bologna consigliamo la <b>A1 fino a Piacenza e poi la A7</b>.</dd>
						<dt>In treno</dt>
						<dd>Torino è comodamente servita dall'<b>alta velocità</b> ed è facilmente raggiungbile da Roma, Firenze, Milano, Verona e Ancona. Dalla stazione dei treni consigliamo di prendere i mezzi pubblici per raggiungere la sede dell'evento.</dd>
						<dt>In aereo</dt>
						<dd>L'aereoporto di Torino è l'<b>"Aeroporto internazionale di Caselle</b>. Collegato con treni 7gg su 7 da/per Porta Susa.</dd>
	
					</dl>
				</div>
			</div>
		</div>
</div>
