<div class="session" id="more">
	<div class="speaker">
		<div class="image"><img src="/img/speaker-plc.png"></div>
		<div class="info">
			<div class="name">More great speakers to be announced soon…</div>
			<div class="bio">We still have great speakers to be announced. Follow us on <a href="http://www.twitter.com/kerningconf">Twitter</a>, <a href="http://www.facebook.com/kerning.conference">Facebook</a> or subscribe to our <a href="#newsletter">newsletter</a> to receive updates and news.</div>
		</div>
	</div>
</div>