
<div class="team-row">
    <div class="team-column">
      <img src="img/team/matteo_yellow.jpg" alt="Snow" style="width:100%"><br>
      Matteo Beccati<br>
      GrUSP Founder & Board Member
    </div>
    <div class="team-column">
        <img src="img/team/cristina_yellow.jpg" alt="Snow" style="width:100%"><br>
        Cristina Chesini<br>
        Training Manager
      </div>
      <div class="team-column">
        <img src="img/team/cesare_yellow.jpg" alt="Snow" style="width:100%"><br>
        Cesare D'Amico<br>
        GrUSP Founder & Board Member
      </div>
      <div class="team-column">
        <img src="img/team/giovanna_yellow.jpg" alt="Snow" style="width:100%"><br>
        Giovanna Ferrari<br>
        Sponsors Manager
      </div>
      <div class="team-column">
        <img src="img/team/giorgio_yellow.jpg" alt="Snow" style="width:100%"><br>
        Giorgio Fochesato<br>
        Community Manager
      </div>
</div>  
<div class="team-row">
    <div class="team-column">
      <img src="img/team/fullo_yellow.jpg" alt="Snow" style="width:100%"><br>
      Francesco Fullone<br>
      Trouble Maker
    </div>
    <div class="team-column">
        <img src="img/team/lara_yellow.jpg" alt="Snow" style="width:100%"><br>
        Lara Lombardi<br>
        Marketing Manager
      </div>
      <div class="team-column">
        <img src="img/team/daniel_yellow.jpg" alt="Snow" style="width:100%"><br>
        Daniel Londero<br>
        GrUSP Board Member
      </div>
      <div class="team-column">
        <img src="img/team/francesco_yellow.jpg" alt="Snow" style="width:100%"><br>
        Francesco Mancin<br>
        Regia & Video
      </div>
      <div class="team-column">
        <img src="img/team/giulia_yellow.jpg" alt="Snow" style="width:100%"><br>
        Giulia Tosato<br>
        Event Manager
      </div>
  </div>